extends base

block content
  .wrapper
    .left
      h2 MBTilify
      .alert.alert-info.alert-intro
        p Use the draw controls on the map to create a bounding box for the area to fetch tiles.
    .map(id='map')