extends base

block content
  .wrapper
    .left
      h1 MBTileify
      .alert.alert-info.alert-intro
        p Use the draw controls on the map to create a bounding box for the area to fetch tiles.
      form.form-horizontal(action='/create_tiles', method='post')
        .form-group
          label.col-sm-3.control-label tile url
          .col-sm-9
            input(type='text', value='http://tile.openstreetmap.org/{z}/{x}/{y}.png', name='tile_url').form-control.tile-url.input-sm
        input(type='hidden', name='xmin').bounds-xmin-hidden
        input(type='hidden', name='ymin').bounds-ymin-hidden
        input(type='hidden', name='xmax').bounds-xmax-hidden
        input(type='hidden', name='ymax').bounds-ymax-hidden
        input(type='hidden', name='total_count').total-count
        .form-group
          label.col-sm-3.control-label min zoom
          .col-sm-9
            input(type='number', value='5', min=0, max=22, step='1', name='min_zoom').form-control.min-zoom.input-sm
        .form-group
          label.col-sm-3.control-label max zoom
          .col-sm-9
            input(type='number', value='10', min=0, max=22, step='1', name='max_zoom').form-control.max-zoom.input-sm
        .form-group
          .col-sm-9.col-sm-offset-3
            button(type='submit').btn.btn-primary Create MBTiles
      .tile-count-display
        h3 Number of Tiles in Zoom Levels
        .tile-count
    .map(id='map')
